//@theme "/nix/store/l9s59vysarfmlysjn0mn10vf3i6y0nv9-rofi-1.7.5+wayland1/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/nix/store/l9s59vysarfmlysjn0mn10vf3i6y0nv9-rofi-1.7.5+wayland1/share/rofi/themes/c64.rasi"
@theme "/nix/store/l9s59vysarfmlysjn0mn10vf3i6y0nv9-rofi-1.7.5+wayland1/share/rofi/themes/Monokai.rasi"
